<div class="contact-container ff-poppins">
  <form>
    <h2>Contact Us</h2>
    <p>Feel free to contact us any time. We will get back to you as soon as we can.</p>
    <label for="name">Name:</label>
    <input class="gray-input ff-poppins" type="text" name="name" id="name" placeholder="Jane Doe" required>
    <label for="email">Email:</label>
    <input class="gray-input ff-poppins" type="email" name="email" id="email" placeholder="xxxxx@email.com" required>
    <label for="message">Message:</label>
    <textarea class="gray-input ff-poppins" type="text" name="message" id="message" placeholder="Your message here..." rows="5" required></textarea>
    <button class="black-button ff-poppins">Send</button>
  </form>
  <div class="contact-info">
    <span><img src="./assets/location.svg" alt="gps"> 14 GreenRoad St.</span>
    <span><img src="./assets/phone.svg" alt="phone"> 14 GreenRoad St.</span>
    <span><img src="./assets/email.svg" alt="email"> avira@getinfo.com</span>
    <span class="clock">
      <img src="./assets/time.svg" alt="clock">
      <span>
        Mon-Fri: 9:00 AM - 8:00 PM<br>
        Sat: 9:30 AM - 6:30 PM
      </span>
    </span>
    <div>
      <button><img src="./assets/instagram.svg" alt="instagram icon"></button>
      <button><img src="./assets/facebook.svg" alt="facebook icon"></button>
      <button><img src="./assets/twitter.svg" alt="twitter icon"></button>
    </div>
  </div>
  <img class="packages" src="./assets/packages.png" alt="packages">
</div>
