<div class="about-container ff-poppins">
  <div class="about-data">
    <section class="about-text">
      <h2>About Us.</h2>
      <p>Avira caters to thoughtful shoppers who appreciate unique designs and top quality pieces you just can’t find elsewhere. We are constantly curating fresh new collections and looking for the next big thing our customers will love. Founded in Vienna in 2019, we are proud to be your Online Clothing Shop that you can rely on for our expert service and care.</p>
     <p>
      We are here to serve you and make sure you find the Perfect Look for every occasion. Our passion for fashion is the reason why we are here. We absolutely love what we do, and our goal is to help our customers by providing them with unique outfit and accessories that make them stand-out from the crowd.
     </p>
    </section>
    <section class="data">
      <div><span>50k+</span><br>Happy Customers</div>
      <div><span>60+</span><br>Top Partners</div>
      <div><span>5+</span><br>Years of Trust</div>
    </section>
  </div>
  <img src="./assets/woman-side-banner.png" alt="woman looking at her right side"/>
</div>
