<div class="home-container">
  <a target="_blank" href="https://en.wikipedia.org/wiki/Cat" class="explore-all"><img src="./assets/explore-all.png" alt="Five cats looking around a field." />
    <div class="image-title ff-poppins">Brands Everyone's Crushing on <span>Explore All <img src="./assets/vector.svg" alt="vector pointing right"></span></div>
  </a>
  <a target="_blank" href="https://en.wikipedia.org/wiki/Cat" class="footwear"><img src="./assets/footwear.png" alt="Five cats looking around a field." />
    <div class="image-title ff-poppins">456 Items <span>Footwear <img src="./assets/vector.svg" alt="vector pointing right"></span></div>
  </a>
  <a target="_blank" href="https://en.wikipedia.org/wiki/Cat" class="demins"><img src="./assets/demins.png" alt="Five cats looking around a field." />
    <div class="image-title ff-poppins">341 Items <span>Demins <img src="./assets/vector.svg" alt="vector pointing right"></span></div>
  </a>
  <a target="_blank" href="https://en.wikipedia.org/wiki/Cat" class="sweaters"><img src="./assets/sweaters.png" alt="Five cats looking around a field." />
    <div class="image-title ff-poppins">680 Items <span>Sweaters <img src="./assets/vector.svg" alt="vector pointing right"></span></div>
  </a>
</div>

