@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.ff-poppins {
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

body {
  background: #FFFFFF;
  height: calc(100vh - 100px);
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.black-button {
  display: inline-block;
  width: 100%;
  padding: 1rem;

  color: #FFFFFF;
  font-weight: 600;

  border-radius: 8px;
  background-color: #2D2D2D;

  transition: .3s;
}

.black-button:hover {
  background-color: #535353;
}

.gray-input{
  background-color: #F6F6F6;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 1rem;

  box-sizing: border-box;

  color: #737373;
  width: 100%;
}

textarea {
  resize: none;
}
